@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 1.8em;
}

a {
  color: rgb(47, 38, 150);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}


article {
  padding:0 1em;
  max-width: 100%;
  margin-bottom: 40px;
}


.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}


section {
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid rgb(33, 27, 97);

}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 1em;
  text-align: center;
  background-color: rgb(33, 27, 97);
  color: white;
  /* width: 1300px; */
}

header section {
  margin: 0 auto;
  max-width: 35%;
}

header img {
  border-radius: 50%;
  width: 130px;

}
header p {
  text-align: justify;
}


h1 {
  margin: 1em 0;
  text-transform: uppercase;
}

h3 {
  color: rgb(33, 27, 97);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;

}

h4 {
  color: rgb(46, 36, 150);
  text-decoration-style: solid;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}


.course {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.course .title {
  color: rgb(46, 36, 150);
  -ms-flex: 0 0 33,3%;
  flex: 0 0 33,3%;
  width: 33%;
  text-align:left;
}

.course .description {
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 70%;
  padding-left: 1em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.course .instructor {
  color: black;
  padding-top: 5px;
  font-size: 0.9em;

}

.institution {
  color: black;
  padding-top: 5px;
  font-size: 0.9em;

}

.date {
  color: black;
  padding-top: 5px;
  font-size: 0.9em;

}

.certificate .title {
  color: rgb(46, 36, 150);
  text-align:left;
}



.literature {
  margin-bottom: 10px;
}


.aboutme {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clifton h4 {
  color: rgb(46, 36, 150);
  -ms-flex: 0 0 33,3%;
  flex: 0 0 33,3%;
  max-width: 70%;
  text-align:left;
}

.myhobbies {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 40%;
}


footer {
 padding: 1em;
 color: white;
 background-color: rgb(33, 27, 97);

}

footer a
{
 color: white;
 text-decoration: none;
}

span {
  font-style: italic;
}

#institution {
  font-style: normal;
}

.hobbies {
  width: 50px;
  height: 50px;
  margin-right: 10px;

}

#skillstools {
  text-align: justify;
  font-size: 1em;
}


@media only screen and (max-width: 768px) {
  .course .aboutme {
    display: block;
  }

  /* .course .title, .course .description  {
    max-width: 80%;
  } */
  .job-title .institution  {
    max-width: 70%;
  }
  .description {
    padding-left: 0;
    padding-top: 1em;
  }

  header section {
    max-width: 90%
  }
}

/* @media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  } */

  footer {
    text-align: center;
  }
}
