@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 1.8em;
}

a {
  color: rgb(47, 38, 150);
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}


article {
  padding:0 1em;
  width: 800px;
}


.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}


section {
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid rgb(33, 27, 97);

}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 1em;
  text-align: center;
  /* background-image: url("C:\\Users\\PBL_Basia\\Documents\\My scripts\\MyCV\\img\\pexels-eberhard-grossgasteiger-2088170.jpg"); */
  background-color: rgb(33, 27, 97);
  background-repeat: no-repeat;
  color: white;
  text-transform: uppercase;
  width: 1300px;
}

header section {
  margin: 0 auto;
  width: 640px;
}

header img {
  border-radius: 50%;
  width: 150px;

}


h1 {
  margin: 1em 0;
}

h3 {
  color: rgb(33, 27, 97);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;

}

h4 {
  color: rgb(46, 36, 150);
  text-decoration-style: solid;
  text-transform: uppercase;
}

main {
  max-width: 1140px;
}

.course {
  margin-bottom: 1em;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
}

.course .title {
  font-weight: bold;
  /* flex: 0 0 33.3%; */
  margin-bottom: 10px;
  max-width: 70%
}

.course .instructor {
  /* flex: 0 0 33.3%; */

}

.course .institution {
  /* flex: 0 0 66,6%;

  max-width: 25%; */

}

.course .date {

  /* max-width: 25%;
  text-align: right; */

}


.course .description {
  /* flex: 0 0 66.6%;
  max-width: 66.6% */
}

.course .description p {
  padding-left: 1em;
}

.logo {
  width: 2px;

}

.school span {
  color: #A7B8BF;
}

.literature {
  margin-bottom: 10px;
}






footer {
 padding: 1em;
 color: white;
 background-color: rgb(33, 27, 97);
 width: 1300px;


}

footer a
{
 color: white;
 text-decoration: none;
}

span {
  font-style: italic;
}

#institution {
  font-style: normal;
}

.hobbies {
  width: 50px;
  height: 50px;
  margin-right: 10px;

}
/* 
.show-hide-text {
  display: flex;
  flex-wrap: wrap;
}

.show-hide-text a {
  order: 2;
}

.show-hide-text p {
  position: relative;
  overflow: hidden;
  max-height: 60px; // The Height of 3 rows
}

.show-hide-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3; // 3 Rows of text
  -webkit-box-orient: vertical;
}

.show-less {
  display: none;
}

.show-less:target {
  display: block;
}

.show-less:target ~ p {
  display: block;
  max-height: 100%;
}

.show-less:target + a {
  display: none;
} */
